<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" dir="rtl">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head><title> Admin Panel</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link th:rel="stylesheet" th:href="@{assets/bootstrap-select-1.13.9/dist/css/bootstrap-select.css}"/>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

</head>


<body style="background-color: #eae8e8">


<nav class="navbar navbar-inverse bg-primary"  >
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">پنل مدیریت</a>

        </div>
        <ul class="nav navbar-nav" >
            <li class="active"><a th:href="@{/admin/advanced-search}">مدیریت کاربران</a></li>
            <li><a th:href="@{/role/all}">مدیریت دسترسی </a></li>
            <li><a th:href="@{/crm}">پنل پشیتبانی </a></li>
            <li><a th:href="@{/customer}">پنل کاربران </a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{/user/my-profile/{username}(username=${session.me.username})}"> <span th:text="${session.me.firstName+' '+session.me.lastName} "></span></a></li>
            <li><a href="/mylogout"><span class="glyphicon glyphicon-user"></span>خروج</a></li>

        </ul>
    </div>
</nav>
<body>

<div class="container text-center">
    <ul class="nav nav-tabs">
        <li class="active"><a  th:href="@{/admin/advanced-search}">جستجوی کاربران</a></li>
        <li><a th:href="@{/admin/create-user}">ایجاد کاربر</a></li>
    </ul>
    <div>
        <h1>Advanced Search</h1>
    </div>


    <form class="form-inline " th:action="@{/admin/advanced-search}" th:object="${test}"
          method="post">
        <label class="sr-only" for="inlineFormInputName2">firstName</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" th:field="*{firstName}"
               placeholder="first Name">

        <label class="sr-only">last Name</label>
        <div class="input-group mb-2 mr-sm-2">

            <input type="text" th:field="*{lastName}" class="form-control" placeholder="last Name">
        </div>

        <label class="sr-only">Username</label>
        <div class="input-group mb-2 mr-sm-2">

            <input type="text" th:field="*{username}" class="form-control" placeholder="Username">
        </div>
        <label class="sr-only">national Code</label>
        <div class="input-group mb-2 mr-sm-2">

            <input type="text" th:field="*{nationalCode}" class="form-control" placeholder="nationalCode">
        </div>

        <label class="sr-only">mobile Number</label>
        <div class="input-group mb-2 mr-sm-2">

            <input type="text" th:field="*{mobileNumber}" class="form-control" placeholder="mobile Number">
        </div>

        <label class="sr-only">Email</label>
        <div class="input-group mb-2 mr-sm-2">

            <input type="text" th:field="*{email}" class="form-control" placeholder="Email">
        </div>
        <label class="sr-only"> Is Active</label>
        <div class="input-group mb-2 mr-sm-2">
            <select th:field="*{isActive}">
                <option th:value="1" style="background-color: green"> Active</option>
                <option th:value="0" style="background-color: red"> DeActive</option>
            </select>

        </div>


        <button type="submit" class="btn btn-primary mb-2">Search</button>
    </form>

    <table class="table table-bordered">

        <thead>
        <tr>


            <th>#</th>
            <th>نام کاربری</th>
            <th>نام</th>
            <th>نام خانوادگی</th>
            <th>شماره تماس</th>
            <th>نقش</th>
            <th>دسترسی ها</th>
            <th> وضعیت</th>
            <th> مشاهده کامل مشخصات</th>
            <th> تغییر رمزعبور</th>
            <th> تغییر نقش</th>
            <th> وضعیت فعال بودن</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${users.isEmpty()}">
            <td class="d-lg-inline-block" th:text="'نتیجه ای یافت نشد '"></td>
        </tr>

        <tr th:each="user,stats : ${users} " th:if="${users}">
            <td th:text="${stats.index + 1}">1</td>
            <td><span th:text="${user.username}"></span></td>
            <td><span th:text="${user.firstName}"> </span></td>
            <td><span th:text="${user.lastName}">  </span></td>
            <td><span th:text="${user.mobileNumber}">  </span></td>
            <td><span th:text="${user.role.name}">  </span></td>
            <td><span th:text="${user.role.getAuthorities()}">  </span></td>
            <td><span th:text="${user.isActive}">  </span></td>
            <td><a th:href="@{/admin/show-user(id=${user.id})}">نمایش</a></td>
            <td><a th:href="@{/admin/change-password-user(username=${user.username})}">تغییر رمز عبور</a></td>
            <td><a th:href="@{/admin/change-role-user(username=${user.username})}">تغییر نقش</a></td>
            <td><a th:href="@{/admin/change-status-user(username=${user.username})}">تغییر وضعیت فعالیت</a></td>
        </tr>

        </tbody>
    </table>
</div>


</body>
</html>
