<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head><title> Main</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron text-center"></div>
<div class="container" style="text-align: center">



    <div class="form-group">
        <label class="control-label col-sm-4" >Welcome to  verification   page</label>
        <div class="col-sm-4">
        </div>
    </div> <div class="form-group">
        <label class="control-label col-sm-4" ><p th:text="${verificationURL}"></p></label>
        <div class="col-sm-4">
        </div>
    </div>
</div>
<div class="form-group">
        <label class="control-label col-sm-4" >Your username is :<p th:text="${firstName}"></p></label>
        <div class="col-sm-4">
        </div>
    </div>


</div>
</body>
</html>