@font-face {
font-family: 'iransans';
    src: url("../font/irsans.ttf");
}
@font-face {
    font-family: arhala;
    src: url("../font/arhala.ttf");

}@font-face {
    font-family: blabeloo;
    src: url("../font/blabeloo.ttf");
}
@font-face {
    font-family: mitra;
    src: url("../font/mitra.ttf");

}@font-face {
    font-family: light;
    src: url("../font/light.ttf");
}