<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head><title> Users</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!--    <style>-->
    <!--        .jumbotron {-->
    <!--            background-color: #f4511e; /* Orange */-->
    <!--            color: #ffffff;-->
    <!--        }-->
    <!--    </style>-->
</head>


<body style="background-color: #eae8e8">


<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">AdminPage</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">فهرست کاربران</a></li>
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
            <li><a href="#">Page 3</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/mylogout"><span class="glyphicon glyphicon-user"></span>خروج</a></li>
            <!--            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>-->
        </ul>
    </div>
</nav>
<div class="container">
    <h2>  رمز فراموشی</h2>



    <form class="form-horizontal" th:action="@{/reset-password}" method="post">
        <div class="form-group">
            <label class="control-label col-sm-4" for="email">Email:</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" id="email"  name="email">
            </div>
        </div>


        <div class="form-group">
            <!--            <div class="col-sm-offset-0 col-sm-20">-->
            <button type="submit" class="btn btn-primary ">Send Email</button>

        </div>


    </form>
</div>


</body>
</html>



