<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head><title> User Information</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!--    <style>-->
    <!--        .jumbotron {-->
    <!--            background-color: #f4511e; /* Orange */-->
    <!--            color: #ffffff;-->
    <!--        }-->
    <!--    </style>-->
</head>


<body style="background-color: #eae8e8">


<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">AdminPage</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">فهرست کاربران</a></li>
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
            <li><a href="#">Page 3</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/mylogout"><span class="glyphicon glyphicon-user"></span>خروج</a></li>
            <!--            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>-->
        </ul>
    </div>
</nav>
<div class="container" >
    <h2>نمایش مشخصات </h2>
    <p>The .table-bordered class adds borders to a table:</p>
    <form th:action="@{/role/update-role}" th:object="${role}"
          method="post">
        <table class="table">


            <tr>
                <td>
                <th>نام</th>
                </td>
                <td><input th:value="*{name}" th:field="*{name}"></td>

            </tr>



            <tr>
                <td>
                <th> دسترسی ها</th>
                </td>
                <td>
                 <input type="checkbox" name="roles"
                           th:each="authority : ${T(ir.maktab.finalproject.model.entity.Authority).values()}"
                           th:text="${authority.name()}"
                           th:value="${authority}"
                           th:field="*{authorities}"
                    />

                </td>

            </tr>

            <tr>
                <td>

                </td>
            <div>
                <button type="submit" class="btn btn-primary">Update</button>
                <input  type="hidden" th:value="*{id}" th:field="*{id}">
            </div>
            </tr>
        </table>
<!--        <div class="form-group">-->
<!--            <label for="authority">Select Authority</label>-->
<!--            <select class="form-control selectors" th:field="*{authorities}" id="authority"   multiple>-->

<!--                <option inputmode="checkbox" th:each="authority : ${T(ir.maktab.finalproject.model.entity.Authority).values()}"-->
<!--                        th:value="${authority}"-->
<!--                        th:text="${authority}"></option>-->

<!--            </select>-->
<!--        </div>-->


    </form>

</div>


</body>
</html>